.footer{
    display: flex;
    justify-content: space-between;
    padding: 15px ;
    border-top: 1px solid #676767;
}


ul li{
    list-style: none;
    font-size: 16px;
}

/* media query */

@media (max-width:600px){
    .footer{
        display: block;
        text-align: center;
    }

    .footer ul li {
        margin: 10px;
    }

    .footer ul {
        margin-top: 20px;
    }
}