@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
  /* max-width: 90%; */
}

.btn{
  padding: 10px 17px;
  border: 0;
  outline: 0;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  background: #f5f5f5;
  color: #000000;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img{
  width: 30px;
  margin-left: 25px;
}

/* -----media queary---- */

@media (max-width:1200px){
    .container{
      padding-left: 5%;
      padding-right: 5%;
    }

    .btn{
      padding: 14px 20px;
    }
}